
<div class="jumbotron">
    <div id="header">
        <div class="title-heder">
          <div class="logo"></div>
          <div class="text-logo"></div>
        </div>
      </div>
    <p><a class="btn btn-primary btn-lg" href="#" role="button">Welcom in Hell</a></p>
  </div>

