@import './../../assets/Styles/mixin.scss';
@import './../../assets/Styles/fonts.scss';
@import url('https://fonts.googleapis.com/css?family=Bevan|Great+Vibes|Playfair+Display+SC|Sedgwick+Ave');
/*font-family: 'Sedgwick Ave', cursive;
font-family: 'Playfair Display SC', serif;
font-family: 'Great Vibes', cursive;
font-family: 'Bevan', cursive;*/


.jumbotron {
    height: 400px;
    box-shadow: 24px 29px 67px -4px rgba(0,0,0,0.68);
   
    background-color: #000000; 
}
.logo {
   @include backgroundnavbar('../../assets/img/png/Spawn1.png');
    width: 400px;
    height: 350px;
    
    float: left;

}
.text-logo {
    float: left; 
    width: 800px;
    height: 200px;
    background-color: #681B1B; 
    @include background('../../assets/img/png/Spawn-Logo.png');
}



.btn {
    background-color: #681B1B;
    width: 300px;
   
    position: bottom;
    box-shadow: 24px 29px 67px -4px rgba(0,0,0,0.68);
    font-family: 'Great Vibes', cursive;
    font-size: 2em;
    color: #BB1111;
    

}