<div class="jumbotron">
    <h1>Gallery</h1>

    <!-- Page Content -->
    <div class="container">
        
              <h1 class="my-4 text-center text-lg-left">Thumbnail Gallery</h1>
        
              <div class="row text-center text-lg-left">
        
                <div class="col-lg-3 col-md-4 col-xs-6">
                  <a href="#" class="d-block mb-4 h-100">
                    <img class="img-fluid img-thumbnail" src="http://placehold.it/400x300" alt="">
                  </a>
                </div>
                <div class="col-lg-3 col-md-4 col-xs-6">
                  <a href="#" class="d-block mb-4 h-100">
                    <img class="img-fluid img-thumbnail" src="http://placehold.it/400x300" alt="">
                  </a>
                </div>
                <div class="col-lg-3 col-md-4 col-xs-6">
                  <a href="#" class="d-block mb-4 h-100">
                    <img class="img-fluid img-thumbnail" src="http://placehold.it/400x300" alt="">
                  </a>
                </div>
                <div class="col-lg-3 col-md-4 col-xs-6">
                  <a href="#" class="d-block mb-4 h-100">
                    <img class="img-fluid img-thumbnail" src="http://placehold.it/400x300" alt="">
                  </a>
                </div>
                <div class="col-lg-3 col-md-4 col-xs-6">
                  <a href="#" class="d-block mb-4 h-100">
                    <img class="img-fluid img-thumbnail" src="http://placehold.it/400x300" alt="">
                  </a>
                </div>
                <div class="col-lg-3 col-md-4 col-xs-6">
                  <a href="#" class="d-block mb-4 h-100">
                    <img class="img-fluid img-thumbnail" src="http://placehold.it/400x300" alt="">
                  </a>
                </div>
                <div class="col-lg-3 col-md-4 col-xs-6">
                  <a href="#" class="d-block mb-4 h-100">
                    <img class="img-fluid img-thumbnail" src="http://placehold.it/400x300" alt="">
                  </a>
                </div>
                <div class="col-lg-3 col-md-4 col-xs-6">
                  <a href="#" class="d-block mb-4 h-100">
                    <img class="img-fluid img-thumbnail" src="http://placehold.it/400x300" alt="">
                  </a>
                </div>
                <div class="col-lg-3 col-md-4 col-xs-6">
                  <a href="#" class="d-block mb-4 h-100">
                    <img class="img-fluid img-thumbnail" src="http://placehold.it/400x300" alt="">
                  </a>
                </div>
                <div class="col-lg-3 col-md-4 col-xs-6">
                  <a href="#" class="d-block mb-4 h-100">
                    <img class="img-fluid img-thumbnail" src="http://placehold.it/400x300" alt="">
                  </a>
                </div>
                <div class="col-lg-3 col-md-4 col-xs-6">
                  <a href="#" class="d-block mb-4 h-100">
                    <img class="img-fluid img-thumbnail" src="http://placehold.it/400x300" alt="">
                  </a>
                </div>
                <div class="col-lg-3 col-md-4 col-xs-6">
                  <a href="#" class="d-block mb-4 h-100">
                    <img class="img-fluid img-thumbnail" src="http://placehold.it/400x300" alt="">
                  </a>
                </div>
              </div>
        
            </div>
        
</div>