
@import './../../assets/Styles/mixin.scss';
@import './../../assets/Styles/fonts.scss';

@import url('https://fonts.googleapis.com/css?family=Bevan|Great+Vibes|Playfair+Display+SC|Sedgwick+Ave');
/*font-family: 'Sedgwick Ave', cursive;
font-family: 'Playfair Display SC', serif;
font-family: 'Great Vibes', cursive;
font-family: 'Bevan', cursive;*/

.nav-item {
    font-family: 'Playfair Display SC', serif;
} 


