<div class="container-fluid">
  <div class="row">
    <nav class="navbar navbar-toggleable-md navbar-inverse fixed-top bg-inverse" ng-repeat="item in menuItems">
      <button class="navbar-toggler navbar-toggler-right" (click)="isCollapsed = !isCollapsed" type="button" data-toggle="collapse" data-target="#navbarToggler"
        aria-controls="#navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
      <a class="navbar-brand" href="#"></a>
      
      <div class="collapse navbar-collapse" id="navbarToggler" [ngbCollapse]="isCollapsed">
        <ul class="nav navbar-nav mr-auto mt-2 mt-md-0">
          <li class="nav-item" ng-click="setActive(item)">
            <a class="nav-link" href="#" [routerLink]="['/history']">History</a>
          </li>
          <li class="nav-item" ng-click="setActive(item)">
            <a class="nav-link" href="#" [routerLink]="['/universe']">Universe</a>
          </li>
          <li class="nav-item" ng-click="setActive(item)">
            <a class="nav-link" href="#" [routerLink]="['/gallery']">Gallery</a>
          </li>
        </ul>
      </div>

    </nav>
  </div>
</div>
