
<div class="jumbotron">
   
   <h1>HISTORY</h1>
   
   <p>Spawn – amerykańska seria komiksowa autorstwa Todda McFarlane’a, ukazująca się w formie miesięcznika od 1992 roku nakładem wydawnictwa Image Comics. Do rysowników, którzy zajmowali się rysowaniem historii o Spawnie należą między innymi Todd McFarlane (który później zajął się scenariuszami), a także Greg Capullo. Dotychczas (stan na styczeń 2015 roku) ukazało się 250 numerów miesięcznika Spawn i wiele wydań pobocznych.
   
   W Polsce Spawn ukazywał się nakładem wydawnictwa TM-Semic (1997-2001, numery 1-24) i Mandragora (2003-2006, numery 25-44).
  </p>
  <h2>Fabuła</h2>
 <p> Główny bohater komiksu, Spawn, to w rzeczywistości pułkownik Al Simmons, członek amerykańskich służb specjalnych, który ocalił prezydenta USA przed zabójstwem. Po tym, jak został zamordowany na zlecenie swoich przełożonych, Simmons zawarł pakt z Szatanem, zwanym tu Malebolgią. W zamian za możliwość ponownego zobaczenia się z żoną, Simmons zgodził się służyć Piekłu jako obdarzony nadnaturalnymi mocami zabójca (jednak prawdziwym celem było jego przeszkolenie, wypranie z ludzkich uczuć i dołączenie jako generała do armii Malebolgii). Simmons powrócił do świata żywych, w nowym ciele zbudowanym z psychoplazmy, z lukami w pamięci oraz pilnowany przez wysłannika Piekła zwanego Klaunem, nieświadomy tego, że minęło pięć lat, a jego żona, Wanda, wyszła za mąż za jego najlepszego przyjaciela, Terry’ego Fitzgeralda. Taka manipulacja miała na celu wprowadzić zamieszanie w umyśle Spawna i wywołać gniew oraz frustrację spowodowaną świadomością kompletnej utraty przeszłego życia.</p>

<p>Todd McFarlane (ur. 16 marca 1961 w Calgary) – kanadyjski rysownik i scenarzysta komiksowy. Twórca postaci Spawna. Pracował m.in. przy seriach Spider-Man i The Incredible Hulk.
  
  Jest jednym z założycieli Image Comics – niegdyś imprintu wydawnictwa Malibu, który z czasem stała się samodzielną firmą.</p>

  <p>Todd McFarlane urodził się w Calgary w Kanadzie.
    
    Jego historia z profesjonalnym komiksem zaczęła się w 1984 roku, kiedy podpisał kontrakt z firmą Marvel. Stał się jednym z czołowych rysowników, pracując przy takich komiksowych sławach jak The Incredible Hulk, Spider-Man, X-Men. Tam dał o sobie znać charakterystyczny styl rysunku, który wzbudził kontrowersje.
    
    Todd był jednym z twórców Image Comics, gdzie ruszył jego autorski komiks pt. Spawn, który zadebiutował w 1992 roku. Dzieło spotkało się z ogromnym zainteresowaniem, sprzedając się w liczbie 1,7 miliona egzemplarzy.
    
    W 1994 roku, McFarlane stworzył firmę McFarlane Toys, zajmującą się produkcją zabawek. Produkuje nie tylko zabawki na licencjach Image Comics, ale i wielu innych firm.
    
    W 1997 roku, ruszyła produkcja filmu Spawn, który okazał się hitem, pozwalając zarobić wytwórni i Toddowi 50 milionów dolarów w 19 dni.
    
    Todd jest również autorem teledysku do utworu grupy Pearl Jam pod tytułem „Do the evolution” oraz teledysku grupy Korn „Freak on a leash”.
    
    </p>





</div>