
@mixin background($imgpath,$position:0 0,$repeat: no-repeat) {
    background: transparent url(#{$imgpath}) $repeat $position;
}
@mixin backgroundnavbar($imgpath,$position:0 0,$repeat: no-repeat) {
  background: transparent url(#{$imgpath}) $repeat $position;
}